.wizard.material input[type="text"],
.wizard.material input[type="password"],
.wizard.material input[type="email"],
.wizard.material textarea {
    padding: 0;
    border-radius: 0 !important;
}

.wizard.material input[type="text"]:focus,
.wizard.material input[type="password"]:focus,
.wizard.material input[type="email"]:focus,
.wizard.material textarea:focus {
    border: none;
    color: inherit;
    box-shadow: none;
}

#doc-wizard-login :before,
#doc-wizard-login :after {
    display: none;
}

.material {
    margin-top: 0;
}

.material .wizard-step > form {
    display: none;
}

.material .wizard-step.active > form,
.material .wizard-step.active > .wizards-actions {
    padding: 10px 50px;
    display: block;
}

.doc-save {
    margin-right: 5px;
}

div.wizard:not(.material) #doc-save-alert {
    margin-top: 10px;
}

div.wizard:not(.material) .btn-default {
    border: 1px solid #ccc;
}
